.upperBody{
  padding-top: 20px;
}
.react-datepicker-wrapper{

  outline: none;
  margin-left: auto;
  display: flex;
  flex: 4;
  justify-content: end;
} 
.react-datepicker__input-container input {
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: #1b2d51;
  background-color: white;
  outline: none;
}

.datePicker {
  margin: 20px 0px 10px 0px;
  display: flex;

}
.space{
  display: flex;
  flex: 1;

}

figure.worldmap__figure-container{
  border-radius:10px;
}
div.mapInfoContainer {
 
  display: flex;
  justify-content: left;
  align-items: left;
  zIndex: '1';
  margin-left:auto;
margin-right:0;
}

div.date {
  display: flex;
  justify-content: top;
  align-items: top;
  zIndex: '2';
}

div.dataVis {
  
}

  @media only screen and (max-width: 380px) {

   }
   @media only screen and (max-width: 650px) {
    .mapInfoContainer{
      flex-direction: column;
      align-items: center;
    }
    .info{
      margin-top: 15px;
    }
   }

.mapDiv{
  flex: 3;
  border-radius:10px;
   -webkit-box-shadow: 7px 6px 19px -5px rgba(0,0,0,0.8); 
   box-shadow: 7px 6px 19px -5px rgba(0,0,0,0.8);
 
}
@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.backgroundFlag {
  background-color:black;

}

div.info { 
  font-size: 20px;
  font-family: 'Roboto';
  text-align: left;
  color:black;
  background-color:white;
  flex: 2;
  border-radius:10px;
   -webkit-box-shadow: 7px 6px 19px -5px rgba(0,0,0,0.8); 
   box-shadow: 7px 6px 19px -5px rgba(0,0,0,0.8);
   width: auto;
   height:43%;
   padding:20px;
   margin-left: 40px;
}


.flagit {
 
  width: 16px;
    height: 16px
}